<?xml version="1.0"?>
<!--
* @author Dmitriy Antonenko <indaheartbeat@gmail.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Ihb_ModuleCreator" setup_version="0.0.1"/>
</config>
